._1otm{bottom:0;left:0;position:absolute;right:0;top:0}._67t7{position:absolute;top:30%;width:100%}
._3tlv{position:relative}
._3vqq{display:inline-block}
._3n40 ._4ssn{display:none;visibility:hidden}._3n40 ._lva{display:block}._lva{display:none;font-size:17px;height:24px;line-height:24px}._4ssn{padding:6px;text-align:center}._lvb{color:#8d949e}._lvb,._lvc{display:inline-block;text-align:center;width:50%}._lvc a,a._lva{color:#3578e5}._lvd{display:block;margin:auto}._lve{color:#8d949e;display:block;text-align:center}/*FB_PKG_DELIM*/

#bootloader_oVNsqCI{height:42px;}.bootloader_oVNsqCI{display:block!important;}